<ion-header [translucent]="true">
  <ion-toolbar>
    <br>
    <ion-title>
      Multer-ventory
    </ion-title><br>
    <form (ngSubmit)="addNewItem()">
      <ion-item>
        <ion-label position="floating">Item</ion-label>
        <ion-input type="text" placeholder="Item name" [(ngModel)]="newItem.item_name" name="item_name"></ion-input>
      </ion-item>
          
      <ion-item>
        <ion-label position="floating">Quantity</ion-label>
        <ion-input type="number" placeholder="Quantity of the item" [(ngModel)]="newItem.item_quantity" name="item_quantity"></ion-input>
      </ion-item>
          
      <ion-item>
        <ion-label position="floating">Description</ion-label>
        <ion-textarea rows="4" placeholder="Description" [(ngModel)]="newItem.item_description" name="item_description"></ion-textarea>
      </ion-item>
      
      <ion-item>
        <ion-label>Image</ion-label>
        <ion-input type="file" (change)="onFileSelected($event)" name="item_image"></ion-input>
      </ion-item>

      <ion-button type="submit" expand="block">ADD</ion-button>
    </form>

    <br>
    <table class="inventall-table">
      <thead>
        <tr>
          <th class="item-th">Item</th>
          <th class= "quantity-th">Quantity</th>
          <th class="description-th">Description</th>
          <th class="file-th">Image</th>
          <th class="button-th"></th>
          <th class="button-th"></th>
        </tr>
      </thead>
    </table>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <table class="inventall-table">
    <tbody>
      <tr *ngFor="let item of items">
        <td class="item-th">{{ item.item_name }}</td>
        <td class="quantity-th">{{ item.item_quantity }}</td>
        <td class="description-th">{{ item.item_description }}</td>
        <td class="file-th">
          <img class="image" *ngIf="item.filename" [src]="'http://localhost:8080/images/' + item.filename"
            alt="image" />
        </td>
        <td><ion-button class="routingButton" expand="block" (click)="deleteItem(item.id)">DELETE</ion-button></td>
        <td><ion-button class="routingButton" expand="block">UPDATE</ion-button></td>
      </tr>
    </tbody>
  </table>
</ion-content>